.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footerWrapper {
        width: 800px;

        .infoContainer {
            display: flex;
            justify-content: space-between;

            .footerInfo {}

            .footerTitle {
                border-bottom: 5px solid #4881ea;
            }

            .socialMedia {
                display: flex;
                align-items: center;
            }
        }
    }
    .copyrightWrapper {
        .logoContainer {
            display: flex;
            align-items: center;
            hr {
                width: 50%;
                height: 1px;
            }
        }
    }

    .coppyrightContent {
        text-align: center;
        font-size: 12px;
    }
}