.logoWrapper {
    .companyTitle {
        font-weight: 700;
        margin-bottom: 6px;

        .netwrokTitle {
            font-weight: normal;
            background-color: #4881ea;
            color: white;
            padding: 3px;
            letter-spacing: 4px;
        }
    }
    .slogan {
        margin: 0;
        font-size: 12px;
        text-align: end;
    }
}