.cardContainer {
    position: relative;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-bottom: 12px;
  max-width: 80%;
  .cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2px;
  }
  .title {
    color: rgb(73, 73, 251);
    font-weight: 700;
    margin: 0;
  }
  .desciprtion {
    color: #b4b4b4;
    font-size: 12px;
    text-align: center;
  }
  .selector {
      select {
          height: 30px;
          width: 136px;
          border-radius: 8px;
      }
  }

}
.chartContainer {
    position: relative;
    height: 320px;
    max-width: 600px;

  }